<!doctype html>
<html lang="en">
<title>
    Buy Home Décor, Pooja box , Pooja Samagri Items, Ganeshas
</title>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>{% block title%} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;449;500;700&display=swap" rel="stylesheet">

</head>

{% block css%}
<style>
    body {
        font-family: 'Oswald', sans-serif;
    }
</style>{% endblock %}

<body>

    <!-- Nav bar start from here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/shop">Hari Pujan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/shop/tracker">Tracker</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/shop/contact">Contact Us</a>
                </li>


            </ul>
            <form method='get' action='/shop/search/' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
             Cart(


            <span id="cart">0</span>)
        </div>
        {% if user.is_authenticated %}
        <li>Hello, {{user.first_name}} </li>
        <button onclick="document.location='logout'" class="btn btn-outline-success my-3 my-sm-0 mx-2" type="">Logout</button> {%else%}
            <button onclick="document.location='login'" class="btn btn-outline-success my-3 my-sm-0 mx-1" type="">Login</button>
            <button onclick="document.location='signup'" class="btn btn-outline-success my-3 my-sm-0 mx-2" type="">Signup</button> {%endif%}
    </nav>

    {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-2">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Hari Pujan</h5>
                    <p>There is always a room for Puja</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Category</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Puja Articles</a>
                        </li>
                        <li>
                            <a href="#!">God Cloths</a>
                        </li>
                        <li>
                            <a href="#!">Small Size Murtis</a>
                        </li>
                        <li>
                            <a href="#!">Medium size Murtis</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Quick access</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Contact Us</a>
                        </li>
                        <li>
                            <a href="#!">Get Trail</a>
                        </li>
                        <li>
                            <a href="#!">Track your order</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://haripujan.com/">haripujan.com</a>
            <a href="#/">Indipendenlly devloped by Himanshu Dwivedi</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
{% block js %} {% endblock %}

</html>